@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
#fcc_test_suite_wrapper {
  display: none; /* comment out this value to show fcc test menu */
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  color: #334155;
}
h1, h2, h3, .icon-p, a {
  color: #0f172a;
}
h2, h3 {
  padding-top: .5rem;
}
#navbar, #navigation {
  position: fixed;
  top:0;
  left:4%;
}
main {
  grid-template-columns: 4% calc(18rem + 4%) minmax(28rem, 48rem) 2.5rem;
  max-width: 100%;
}
.sub-heading {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#navigation {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 100vh;
  grid-column: 2;
  /* overflow-y: scroll; 
  border-right: 1px solid #e5e7eb;
  box-shadow: 0 0 25px #32323212;
  clip-path: inset(0px -25px 0px 0px); */
  font-size: .875rem;
  overflow-x: hidden;
}
.logo {
  margin: 2rem auto 1rem 1rem;
  width: 70%;
  justify-self: center;
  align-self: center;
  display: flex;
}
a {
  text-decoration: none;
  color: #0f172a;
}
.logo svg {
  width: auto;
  height: 2.25rem;
}
.ul-0 {
  margin: 0;
}
.ul-1, 
.ul-2, 
.ul-3 {
  padding: 0;
  border-left: 1px solid #e5e7eb;
}
li {
  list-style: none;
}
.li-0:first-child {
  margin-top: 1.25rem;
}
.li-0:last-child {
  margin-top: 1.75rem;
}
.li-1,
.li-2,
.li-3 {
  width: 100%;
  height: 100%;
  margin-top: .65rem;
  margin-left: -1px;
}
.li-1 a,
.li-2 a,
.li-3 a {
  border-left: 1px solid #e5e7eb;
  padding-left: 15px;
  height: 100%;
  width: 100%;
  display: block;
  padding: .45rem 0 .45rem 15px;
  color: #334155;
  line-height: 1.5rem;
}
.li-1 a:hover,
.li-1 a:active,
.li-1 a:focus,
.li-2 a:hover,
.li-2 a:active,
.li-2 a:focus,
.li-3 a:hover,
.li-3 a:active,
.li-3 a:focus {
  border-left: 1px solid #0ea5e9;
  color: #0ea5e9;
}
main section {
  width: 100%;
  grid-column: 3;
  padding-top: 2rem;
}
#Utility-First_Fundamentals,
#Colors,
#Preflight {
  padding-top: .5rem;
}
.section-wrapper {
  position: relative;
  z-index: 20;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.75;
}
h1 {
  font-weight: 800;  
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: -.025em;
  margin: 0;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.pre-heading {
  font-weight: 600;
  color: #0ea5e9;
  margin: 2.5rem 0 0 0;
  grid-column: 3;
}
.highlight {
  font-weight: 600;
  border-bottom: 1px solid #7dd3fc;
}
.chat-notification {
  display: flex;
  max-width: 24rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.example-item {
  display: grid;
  place-items: center;
}
.example-button {
    background-color: #0ea5e9;
    padding: 0.5rem 1.25rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #fff;
    border-radius: 9999px;
    outline: none;
    border: 0;
}
.example-button:hover {
  background-color: #0369a1;
  cursor: pointer;
}
.example-button.violet {
  background-color: #8b5cf6;
}
.example-button.violet:hover {
  background-color: #7c3aed;
}
.example-button.violet:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 calc(3px + 0px) #c4b5fd;
}
.example-button.violet:active {
  background-color: #6d28d9;
}
.chat-notification-logo-wrapper {
  flex-shrink: 0;
}
.chat-notification-logo {
  height: 3rem;
  width: 3rem;
}
.chat-notification-content {
  margin-left: 1.5rem;
  padding-top: 0.25rem;
}
.chat-notification-title {
  color: #1a202c;
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0;
}
.chat-notification-message {
  color: #718096;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}
.icon-wrapper {
  align-items: flex-start;
  margin: 1.5rem 0 1.5rem 1rem;
}
.icon-container {
  position: relative;
  margin-top: .25rem;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
}
.icon-container.s1 {
  width: 1rem;
  height: 1rem;
  background-color: #fb7185;
  color: #fff;
  box-shadow: 0 0 0 0 #fff, 0 0 0 2px #fb7185, 0 0 #0000, 0 0 #0000;
}
.icon-container.s1.cyan {
  background-color: #06b6d4;
  box-shadow: 0 0 0 0 #fff, 0 0 0 2px #06b6d4, 0 0 #0000, 0 0 #0000;
}
.icon-container.s2 svg {
  flex: none;
  stroke: #94a3b8;
  bottom: 0;
  left: 0.4rem;
}
.icon-container.s2.flex {
    margin: 1.5rem 0 .8rem;
}
.icon-container.s2 .icon-p {
  
}
.icon-container svg {
  overflow: visible;
  bottom: 0.575rem;
  left: 0.3rem;
  position: relative;
}
.icon-container div {
  position: absolute;
  top: 100%;
  margin-top: .25rem;
  left: 0.46875rem;
  width: 1px;
  height: 1.375rem;
  background-color: #fecdd3;
  border-radius: 9999px;
}
.icon-container.cyan div {
  background-color: #06b6d4;
}
.icon-p {
  flex: 1 1 0%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 0 calc(1rem * 0) 0 calc(1rem * calc(1 - 0));
}
.example-wrapper {
  margin: 1rem 0 -.75rem 0;
}
.example-container {
  position: relative;
  background-color: #f8fafc;
  border-radius: 0.75rem;
  overflow: hidden;
}
.example-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  background-position: 10px 10px;
}
.example-graphic {
  position: relative;
  border-radius: .75rem;
  overflow: auto;
  padding: 2rem;
}
.example-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border: 1px solid #0000000d;
  border-radius: .75rem;
}
hr {
  height: 0;
  margin: 0 0 2rem;
  border-top: 1px solid #e6ebef;
}
pre {
  color: #f8fafc;
  background-color: #1e293b;
  overflow-x: auto;
  font-size: .875rem;
  line-height: 1.7;
  margin-top: 1.7rem;
  margin-bottom: 2.2rem;
  border-radius: 0.75rem;
  padding: 1.25rem;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
}
code {
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  color: inherit;
  flex: none;
  min-width: 100%;
  font-size: .875em;
  font-variant-ligatures: none;
}
pre code {
  font-size: .95rem;
  font-weight: 400;
}
code:before, code:after {
  content: "`";
}
pre code:before, pre code:after {
  content: "";
}
.punctuation,
.attr-equals {
  color: #64748b;
}
.tag,
.selector {
  color: #f472b6;
}
.attr-name,
.rule {
  color: #cbd5e1;
}
.attr-value,
.property {
  color: #7dd3fc;
}
.unit {
  color: #99f6e4;
}
.comment {
  color: #94a3b8;
}
section ul {
  list-style-type: none;
  padding-left: 0;
}
section ul li {
  padding-left: 1.75rem;
  position: relative;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
section ul li:before {
  content: "";
  width: 0.75em;
  height: 0.125em;
  position: absolute;
  top: calc(0.875em - 0.0625em);
  left: 0;
  border-radius: 999px;
  background-color: #cbd5e1;
}
section ul li a {
  color: #0f172a;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #7dd3fc;
}
section ul li code {
  color: #0f172a;
  font-weight: 500;
  font-size: .875em;
  font-variant-ligatures: none;
}
.example-iframe {
  width: 100%;
  height: 30rem;
  pointer-events: none;
}


*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: .875rem;
  line-height: 1.25rem;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
thead {
  border-bottom-width: 1px;
  border-bottom-color: #e2e8f0;
  color: #334155;
}
th {
  padding-left: 0;
  color: #0f172a;
  font-weight: 600;
  vertical-align: bottom;
  padding: 0 0.5714286em 0.5714286em;
}
tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #f1f5f9;
}
td {
  padding-left: 0;
  vertical-align: baseline;
  padding: 0.5714286em;
}
td code {
  font-size: .75rem;
}
.pre-wrapper {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  background-color: #1e293b;
  overflow: hidden;
  box-shadow: var(0 0 #0000,0 0 #0000),var(0 0 #0000,0 0 #0000),var(0 10px 15px -3px rgb(0 0 0/0.1),0 4px 6px -4px rgb(0 0 0/0.1));
  border-radius: 0.75rem;
}
.tab-container {
  color: #94a3b8;
  font-size: .75rem;
  line-height: 1.5rem;
}
.active-tab {
  flex: none;
  padding: .25rem 1rem;
  align-items: center;
  color: #7dd3fc;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #7dd3fc;
}
.inactive-tab {
  align-items: center;
  border: 1px solid #64748b4d;
  background-color: #33415580;
  border-top-left-radius: 0.25rem;
  flex: 1 1 auto;
}
.pre-container pre {
  margin: 0;
  background-color: transparent;
  box-shadow: var(0 0 #0000,0 0 #0000),var(0 0 #0000,0 0 #0000),var(0 0 #0000)!important;
}
.margin-top {
  margin-top: 2.5rem;
}
.color-grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}
.color-flex-container {
  font-size: .75rem;
  line-height: 1rem;
  flex-direction: column;
  display: flex;
}
.color-group {
  flex-shrink: 0;
  width: 4rem;
  padding-top: 1.5rem;
}
.color-group-flex {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.color-group-name {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #0f172a;
}
.color-item-grid {
  margin-top: calc(0.75rem * calc(1 - 0));
  margin-bottom: calc(0.75rem * 0);
  row-gap: 0.75rem;
  column-gap: 1rem;
  grid-template-columns: repeat(5,minmax(0,1fr));
  flex: 1 1 0%;
  min-width: 0;
  display: grid;
}
.color-item {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}
.color-example {
  border-radius: 0.25rem;
  width: 100%;
  height: 2.5rem;
}
.color-label {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.color-label-name {
  font-weight: 500;
  width: 1.5rem;
  color: #0f172a;
}
.color-label-hex {
  font-family: 'Fira Code', monospace;
  color: #64748b;
  text-transform: lowercase;
  font-variant-ligatures: none;
}
.side-navigation {
  position: sticky;
  z-index: 20;
  grid-column: 5;
  grid-row: 2;
  top: 1.25rem;
  width: 25.5rem;
  margin-top: -2.5rem;
  padding: 0 5rem;
  overflow-y: hidden;
  display: none;
}
.side-navigation ul {
  color: #334155;
  line-height: 1.5rem;
  font-size: .875rem;
}
.side-navigation ul li {
  padding: 0.2rem 0;
  font-weight: 500;
}
.side-li {
  margin-left: 1rem;
  font-weight: 400 !important;
}
.side-navigation li a {
  display: flex;
  padding: .1rem 0;
}
.side-navigation li a:hover,
.side-navigation li a:active,
.side-navigation li a:focus {
  color: #0ea5e9;
}
.side-li a {
  display: flex;
  align-items: start;
  padding: .1rem 0;
}
.side-navigation svg {
  margin-right: .5rem;
  overflow: visible;
  color: #94a3b8;
} 
.side-li a:hover svg {
  color: #0ea5e9;
}


@media (min-width: 640px) {
  .color-flex-container {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .color-label {
    justify-content: space-between;
    display: flex;
  }
  .color-label-hex {
    margin-right: calc(0.5rem * 0);
    margin-left: calc(0.5rem * calc(1 - 0));
  }
}
@media (min-width: 1280px) {
  .side-navigation {
    display: block;
  }
}
@media (min-width: 1536px) {
  .color-label-hex {
    margin-right: calc(0px * 0);
    margin-left: calc(0px * calc(1 - 0));
  }
  .color-label-name {
    width: 100%;
  }
  .color-label {
    display: block;
  }
  .color-item-grid {
    column-gap: 0.5rem;
    grid-template-columns: repeat(10,minmax(0,1fr));
  }
}